<div class="side-panel" id="divSidePanel">
    <nav id="navMenu" class="side-menu">
        <a href="index.php?ctrl=home&action=index" class="{DASHBOARD_MENU}" id="aMenuEstudiantes">
            <img src="site_media/svg/dashboard.svg" alt="Students" class="side-menu-icon">Tablero</a>
        <a href="index.php?ctrl=estudiante&action=index" class="{ESTUDIANTE_MENU}" id="aMenuEstudiantes">
            <img src="site_media/svg/students.svg" alt="Students" class="side-menu-icon">Estudiantes</a>
        <a href="index.php?ctrl=empleado&action=index" class="{EMPLEADO_MENU}" id="btnMenuEmpleados">
            <img src="site_media/svg/employee.svg" alt="Students" class="side-menu-icon">Empleados</a>
        <a href="index.php?ctrl=padres&action=index" class="{PADRES_MENU}">
            <img src="site_media/svg/parents.svg" alt="Students" class="side-menu-icon">Padres</a>
        <!-- <a class="side-menu-item" id="btnMenuHorarios">
            <img src="site_media/svg/list.svg" alt="Students" class="side-menu-icon">Asistencia</a> -->
        <a href="index.php?ctrl=curso&action=index" class="{CURSO_MENU}" class="side-menu-item">
            <img src="site_media/svg/classroom.svg" alt="Students" class="side-menu-icon">Cursos</a>
        <a class="side-menu-item">
            <img src="site_media/svg/payroll.svg" alt="Students" class="side-menu-icon">N&oacute;mina</a>
        <a class="side-menu-item">
            <img src="site_media/svg/califications.svg" alt="Students" class="side-menu-icon">Notas</a>
        <a class="side-menu-item">
            <img src="site_media/svg/payment.svg" alt="Students" class="side-menu-icon">Pagos</a>
        <a href="?ctrl=mantenimiento&action=index" class="{MANTENIMIENTO_MENU}" class="side-menu-item">
            <img src="site_media/svg/cogwheel.svg" alt="Students" class="side-menu-icon">Mantenimiento</a>
    </nav>
</div>