/*[ General ]*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: whitesmoke;
}

/*[ Logo ]*/

#divLogo {
    padding: 0;
    color: whitesmoke;
    font-size: 28px;
    line-height: 32px;
    border-style: dashed;
    padding-left: 15px;
    padding-right: 15px;
    border-color: rgb(49, 23, 23);
    border-radius: 20px;
    border-width: 2px;
    margin-top: 5px;
    border-color: #1E90FF red yellow green;
}

/*[ Encabezado ]*/

.header-bar {
    width: 100%;
    top: 0;
    position: fixed;
    background: #333333;
    height: 50px;
    color: white;
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
    box-sizing: border-box;
}

a.menu-launcher-btn {
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 50px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.menu-launcher-icon {
    height: 24px;
    widows: 24px;
}

.menu-launcher-icon:hover {
    cursor: pointer;
}

.logo-place {
    height: 100%;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 2px;
    line-height: 50px;
    font-size: 26px;
}

.user-menu-place {
    float: right;
    text-align: right;
}

.user-menu-cont {
    position: absolute;
    top: -3px !important;
    right: 0 !important;
    display: none;
    width: 100%;
    position: relative;
    min-width: 200px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
}

.user-menu-cont a {
    color: black;
    text-decoration: none !important;
    display: block;
    line-height: 38px;
    background-color: #E0E4EC;
    text-align: center;
    
}

.user-menu-toggler {
    height: 50px;
    display: inline-block;
    background-color: transparent;
    color: white;
    min-width: 150px;
    max-width: 200px;
    border-style: none;
    font-size: 16px;
    overflow: hidden;
    line-height: 50px;
    text-align: center;
}

.user-menu-place a:hover {
    color: #1E90FF;
    text-decoration: underline;
    cursor: pointer;
}

.name-avrev {
    background-color: #F1F1F1;
    line-height: 28px;
    border-radius: 20px;
    display: inline-block;
    height: 28px;
    width: 28px;
    color: black;
    text-align: center
}

.user-name-place {
    display: inline;
    color: whitesmoke !important;
}

/* [ Menu y panel lateral ] */

.side-menu-icon {
    margin-right: 5px;
    margin-bottom: -4px;
    display: inline-block;
    height: 22px;
    width: 22px;
}

.side-panel {
    position: fixed;
    top: 50px;
    bottom: 0;
    background-color: #F1F1F1;
    width: 200px;
    border-width: 1px;
    overflow: auto;
}

.side-menu a {
    display: block;
    width: 100%;
    line-height: 40px;
    text-align: left;
    padding-left: 5px;
    font-size: 18px;
    border-width: 3px;
    color: #43474C;
}

.side-menu {
    overflow-y: auto;
    height: 400px;
}

.active {
    background-color: #E0E0E0;
    border-color: #1E90FF !important;
}

.side-menu:hover {
    cursor: pointer;
}

.side-menu a:hover {
    background-color: #E0E0E0;
    border-color: #1E90FF;
}

.active {
    border-right-style: solid;
    background-color: #E0E0E0;
    border-color: red;
}

/*[ Login ]*/

.table-center {
    position: absolute;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-collapse: collapse;
}

img.user-login-image {
    width: 36px;
    height: 36px;
    border-style: solid;
    border-radius: 50px;
    padding: 2px;
    border-width: 1px;
}

/* [ Main ] */

.main {
    padding-left: 200px;
}

.workspace {
    margin-top: 50px;
}

.login-panel {
    display: inline-block;
    width: 40%;
    min-width: 350px;
    max-width: 400px;
    padding: 15px;
    margin: 0;
}

.dialog-panel-box {
    display: none;
    top: 50px;
    z-index: 8000;
}

.quick-search {
    z-index: 10000;
    top: 50px;
}

.hidden {
    display: none;
}

fieldset {
    margin-top: 10px;
    padding: 5px;
    /* text-align: left !important; */
}

.dialog-panel-body>div,fieldset{
    text-align: left !important;
}

.table td:last-child,.table th:last-child{
    text-align: center;
}
.link{
    color: #1E90FF;
}
fieldset input[type=radio]+label{
    cursor: pointer;
}

/* [ Media Query ] */

@media only screen and (max-width: 780px) {
    .side-panel {
        display: none;
    }
    .logo-place {
        display: none;
    }
    a.menu-launcher-btn {
        display: block;
    }
    .main {
        padding: 0px;
    }
}