* {
    border-color: #DEDEDE;
    color: #43474C;
    border-width: 1px;
}

.workspace {
    width: 100%;
    padding: 20px;
}

h1.workspace-title {
    width: 100%;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #DEDEDE;
    line-height: 38px;
    font-weight: normal;
    /* text-align: center; */
}

div.table-container {
    overflow-y: auto;
}

/* [ Tables ] */

.table {
    border-collapse: collapse;
    width: 100%;
}

.table tr {
    border-color: #DEDEDE;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    height: 30px;
    height: 35px;
}

.table tbody tr:hover {
    background-color: rgba(241, 241, 241, 0.4);
}

.table thead tr {
    background-color: #F1F1F1;
}

.table th,
td {
    text-align: left;
    padding-left: 10px;
    padding-right: 5px;
}

span.separator {
    height: 30px;
    display: block;
    position: relative;
}

.centered {
    margin: auto;
}

.bordered {
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: #DDDDDD;
}

/* [ Form ] */

.form-control {
    font-size: 14px;
    height: 32px;
    border-style: solid;
    border-width: 1px;
    /* border-radius: 5px; */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

label {
    display: inline-block;
    line-height: 28px;
    text-align: left !important;
}

.btn {
    font-size: 14px;
    height: 34px;
    border-style: none;
    border-width: 1px;
    /* border-radius: 5px; */
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn-blue {
    background-color: #1AA3DB;
    color: white;
}

.btn-green {
    background-color: #15BD6A;
    color: white;
}

.btn-red {
    background-color: #ED1515;
    color: white;
}

.btn-link {
    color: blue;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.btn-link:hover {
    background-color: whitesmoke;
}

.txt-right {
    text-align: right;
}

/* [ Grid ] */

.row {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

.w1 {
    width: 10%;
}

.w2 {
    width: 20%;
}

.w3 {
    width: 30%;
}

.w4 {
    width: 40%;
}

.w5 {
    width: 50%;
}

.w6 {
    width: 60%;
}

.w7 {
    width: 70%;
}

.w8 {
    width: 80%;
}

.w9 {
    width: 90%;
}

.w10 {
    width: 100%;
}

/* [ Dialog panel ] */

.dialog-panel-box {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* padding: 10px; */
    z-index: 1000;
}

.dialog-panel {
    height: 85%;
    background-color: #F1F1F1;
    width: 100%;
    border-bottom-style: solid;
    border-width: 1px;
}

.dialog-panel-header {
    float: left;
    width: 100%;
    line-height: 50px;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

.dialog-panel-body {
    float: left;
    text-align: center;
    display: block;
    margin: auto;
    height: 80%;
    padding-left: 10%;
    padding-right: 10%;
    border-top-style: solid;
    overflow: auto;
}

/* [ Quick search dialog ] */

.quick-search {
    display: none;
    min-height: 100px;
    background-color: white;
    position: absolute;
    border-style: solid !important;
    top: 0;
    left: 25%;
    right: 25%;
    z-index: 1050;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
}

.quick-search>div {
    background-color: #F1F1F1;
    text-align: center;
    padding: 5px;
}

.quick-search>div+div {
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.quick-search>div+div a {
    display: block;
    line-height: 32px;
    text-align: left;
    border-bottom-style: solid;
}

.quick-search>div+div a:hover {
    background-color: whitesmoke;
}

/* [ Icons ] */

.img-icon-small {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.container {
    padding: 10px;
    background-color: whitesmoke;
}

.row-panel {
    padding: 10px;
}

.img-icon-midium {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

/* [ Tabs ] */

.tab-list {
    list-style: none;
    border-bottom-style: solid;
    height: 43px;
    ;
}

.tab-list li {
    display: inline-block;
    margin: 0;
    outline-width: 0px;
    float: left;
}

.tab-list li input {
    display: none;
}

.tab-list li label {
    height: 40px;
    padding: 5px;
    border-top-style: solid;
    border-right-style: solid;
    cursor: pointer;
    background-color: whitesmoke;
    min-width: 75px;
    text-align: center !important;
}

.tab-list li:nth-child(1) {
    border-left-style: solid;
}

.tab-list li input:checked~label {
    background-color: white;
}

.tab-page {
    display: none;
    background-color: white;
    min-height: 300px;
}

@media only screen and (max-width: 780px) {
    .dialog-panel-body {
        padding: 5px;
    }
    .row {
        width: 100%;
    }
    .quick-search {
        left: 5%;
        right: 5%;
    }
}